:root {
  --blue: rgb(61, 184, 255);
  --red: #a11f1f;
  --red-hover: rgb(192, 65, 65);
  --black: rgba(87, 87, 87, 0.733);
  --black-lighter: rgb(37, 37, 37);
  --bar-transparent: rgba(41, 40, 40, 0.404);
  --black-darker: rgb(19, 19, 19);
  --font-color: rgb(230, 230, 230);
}
body {
  background-color: rgb(198, 245, 241);
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.header {
  margin-bottom: 1rem;
}
#title {
  text-align: center;
  margin: 0;
}
.red-text {
  color: var(--red);
}
.description {
  text-align: center;
  color: rgba(85, 85, 85, 0.747);
}
select {
  background-color: transparent;
  border: 2px solid var(--black-darker);
  border-radius: 10px;
  margin: 1px;
}
.select-formation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#print-do-campo{
  text-align: end;
}
#copied-text{
  color: green;
  font-size: 12px;
}
.take-screenshot:hover{
  cursor: pointer;
}
.icons{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   margin-top: 1rem;
}
.field {
  position: relative;
  display: grid;
  place-items: center;
  background-image: url("../assets/icons/campo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(12, 107, 12);
  width: 320px;
  height: 500px;
  border-radius: 10px;
}

.player {
  position: absolute;
  text-align: center;
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  background-image: url("/src/assets/icons/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;

  height: 50px;
  width: 50px;
}

.clear {
  position: absolute;
  top: 60%;
  left: 99%;
}
.player p {
  font-size: 11px;
  font-weight: 400;
  max-width: 50px;
  color: var(--font-color);
}
.player:hover {
  cursor: pointer;
  background-color: rgb(204, 193, 193);
}
.players-container {
  position: absolute;
  max-height: 495px;
  width: 291px;
  overflow-y: scroll;
}
.player-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 278px;
  border: 1px solid var(--black-darker);
  border-radius: 5px;
  font-family: var(--font);
  color: var(--black-darker);
  padding: 2px;
  margin: 1px;
}
.player-box:hover {
  cursor: pointer;
  background-color: var(--red-hover);
}
.player-picture {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid var(--red);
}
.close {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  top: 0;
  left: 5%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 32px;
}
.go-back {
  font-size: 9px;
  color: var(--black-lighter);
}
.default-cursor {
  cursor: default;
}
.close:hover {
  cursor: pointer;
}
.position-title {
  text-align: center;
  background-color: var(--black-lighter);
  color: white;
}
footer {
  margin-top: 1rem;
  font-size: small;
  text-align: center;
  max-width: 320px;
}
footer span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer a {
  color: var(--black);
  text-decoration: none;
  background-color: yellow;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--bar-transparent);
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:active {
  background: rgba(84, 131, 153, 0.795);
}
@media screen and (max-height: 537px) and (max-width: 650px) {
  .header {
    display: grid;
    place-items: center;
    place-content: center;
    height: 537px;
  }
  .arrow-down {
    margin-top: 3rem;
  }
}
