body {
  background-color: burlywood;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.field {
  position: relative;
  display: grid;
  place-items: center;
  background-color: green;
  width: 320px;
  height: 500px;
  border-radius: 10px;
}

.player {
  position: absolute;
  text-align: center;
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  background-image: url("/src/assets/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.player p{
  font-size: 11px;
  font-weight: 600;
  color: white;
}
.player:hover{
  cursor: pointer;
  background-color: rgb(204, 193, 193);
}
.players-container{
  position: absolute;
  max-height: 400px;
  overflow: scroll;
}
.player-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 254, 254);
  width: 280px;
}
.player-box:hover{
  cursor: pointer;
  background-color: bisque;
}
.player-picture{
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid red;
}

#first{
  top: 1%;
  left:47%;
}
#second {
  top: 22%;
  left: 5%;
}
#third{
    top: 22%;  
    left: 78%;
}
#fourth{
    top: 10%;
    bottom: 90%;
    left: 25%;
    right: 75%;
}
#fifth{
    top: 10%;
    left: 65%;
}
#sixth{
    top: 40%;
    left: 26%;
}
#seventh{
    top: 40%;
    left: 65%;
}
#eighth{
    top: 60%;
    left: 15%;
}
#ninth{
  top: 60%;
  left: 75%;
}
#tenth{
  top: 80%;
  left: 25%;
}
#eleventh{
  top: 80%;
  left: 60%;
}

@media screen and (max-width: 320px) {
  .player {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
  .player p{
    color: rgb(200, 218, 226);
    font-weight: bold;
    font-size: 3.5vw;
  }
  .field {
    width: 100vw;
    height: 500px;
  }
  img{
    width: 100%;
    height: 40px;
    border-radius: 50%;
    display: block;
  }
}
